<template name="cameraSettings">
    <div class="panel panel-default">
        <div class="panel-heading hms-panel-heading">Camera Settings</div>
        <div class="panel-body hms-panel-body">
            {{#if cameraSettingsReady}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row settings-content">
                            <div class="col-md-8">
                                Power Switch
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <input id="cameraPS" class="js-camera-ps"
                                       value="{{cameraSettings._id}}" type="checkbox">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row settings-content">
                            <div class="col-md-8">
                                Recording
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <input id="cameraRec" class="js-camera-rec"
                                       value="{{cameraSettings._id}}" type="checkbox">
                            </div>
                        </div>
                    </li>
                </ul>
            {{/if}}
        </div>
    </div>
    {{updateSettings}}
</template>