<template name="about">
    <div class="container-fluid about-row-1">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>The Process:</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="panel panel-default about-row-item-1">
                    <div class="panel-body">
                        <img src="about/account.png" class="about-icon" width="100px" height="100px">
                        <hr>
                        <br>
                        <p>
                            Create your account.
                            <br>
                            Purchase devices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default about-row-item-1">
                    <div class="panel-body">
                        <img src="about/devices.png"  class="about-icon" width="100px" height="100px">
                        <hr>
                        <br>
                        <p>
                            Activate your purchased devices.
                            <br>
                            Choose your monitoring type.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default about-row-item-1">
                    <div class="panel-body">
                        <img src="about/app.png"  class="about-icon" width="100px" height="100px">
                        <hr>
                        <br>
                        <p>
                            Interact with the devices through our apps.
                            <br>
                            View data in real-time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default about-row-item-1">
                    <div class="panel-body">
                        <img src="about/cloud.png"  class="about-icon" width="100px" height="100px">
                        <hr>
                        <br>
                        <p>
                            Backlogs of data stored securely in the cloud.
                            <br>
                            Analytics and data processing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid about-row-2">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>The Team:</h2>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-3">
                <img src="team/kyle.png"  class="about-profile" width="200px" height="200px">
                <h3>Kyle Williamson</h3>
                <h4>Team Leader</h4>
                <p>
                    Lead FullStack & Raspberry PI Developer
                    <br>
                    Responsible for management of the team. agile and tasks.
                    <br>
                    Oversees all project work done.
                </p>
                <hr>
                <ul class="list-unstyled list-inline">
                    <li><a class="about-social-media" href="https://ie.linkedin.com/in/kyle-williamson-30a7b199"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="team/alan.jpg"  class="about-profile" width="200px" height="200px">
                <h3>Alan Riordan</h3>
                <h4>Lead Android Developer</h4>
                <p>
                    Responsible for development of the android application.
                    <br>
                    Researches and implements android features.
                    <br>
                    Oversees all work done towards the app.
                </p>
                <hr>
                <ul class="list-unstyled list-inline">
                    <li><a class="about-social-media" href="https://ie.linkedin.com/in/alan-riordan-340a86b8"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="team/joel.jpg"  class="about-profile" width="200px" height="200px">
                <h3>Joel Satkauskas</h3>
                <h4>Analysis, Design & Test</h4>
                <p>
                    Responsible for testing of the application.
                    <br>
                    Involved in use-case specification & prototype design.
                    <br>
                    Responsible for hardware & sensor research.
                </p>
                <hr>
                <ul class="list-unstyled list-inline">
                    <li><a class="about-social-media" href="https://ie.linkedin.com/in/joel-satkauskas-694371b5"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png"  class="about-profile" width="200px" height="200px">
                <h3>Mark O' Connell</h3>
                <h4>Android Developer, Analysis & Design</h4>
                <p>
                    Does front-end development on the android application.
                    <br>
                    Android design diagrams & prototyping.
                    <br>
                    Requirements Gathering.
                </p>
                <hr>
            </div>
        </div>
    </div>
</template>