<template name="download">
    <div class="container-fluid grey-bg">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading hms-panel-heading text-center">IOS App</div>
                    <div class="panel-body hms-panel-body text-center">
                        <div class="row">
                            <img src="download/ios.png" width="150px" height="150px">
                        </div>
                        <hr>
                        <div class="row">
                            <h3>COMING SOON</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading hms-panel-heading text-center">Android App</div>
                    <div class="panel-body hms-panel-body text-center">
                        <div class="row">
                            <img src="download/android.png" width="150px" height="150px">
                        </div>
                        <hr>
                        <div class="row">
                            <h3>COMING SOON</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading hms-panel-heading text-center">Desktop App</div>
                    <div class="panel-body hms-panel-body text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="download/windows.png" width="150px" height="150px">
                            </div>
                            <div class="col-md-4">
                                <img src="download/mac.png" width="150px" height="150px">
                            </div>
                            <div class="col-md-4">
                                <img src="download/linux.png" width="150px" height="150px">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h3>COMING SOON</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>