<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading" th:text="#{const_selection.title}">Constituency List
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" th:each="constituency : ${constituencies}">
                                        <a th:href="@{/__${constituency.id}__/__${route}__}">
                                            <span th:text="${constituency.name}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>